.create-match-player-list{
    margin-left:30% !important;
}
.court-list{
    height:60vh !important;
    overflow-y: scroll;
    
}
.list-select{
    height:50vh !important;
    overflow-y: scroll;

}
.player-list {
    height:53vh
}
.craete-match-card{
    cursor: pointer;
    transition: transform .2s; 

    &:hover{
        background-color: #eeeeee !important;
        transform: scale(1.03);

    }
}
.court-field{
    width:75px;
    margin:auto !important;
}
.create-match-court{
    height:10vh;
}