.checkout-team{
    transition: transform .1s;
    
    &:hover{
        transform: scale(1.03);
    }
}

.list-group-item.active{
    background:#FA8602 !important;
    border: none !important;
}

.checkout-calendar{
    width:15%;
}
.checkout-steps{
    max-height: 20vh !important;
}
.coupon-table{
    height:40vh !important;
    overflow-y: scroll;
}
