.checkout-team{
    transition: transform .1s;
    
    &:hover{
        transform: scale(1.03);
    }
}

.list-group-item.active{
    background:#FA8602 !important;
    border: none !important;
}

.checkout-calendar{
    width:15%;
}