.widget-player-card {

    cursor : pointer;
    transition: .1s ease-out;

    .widget-player-icon {
        justify-content: center;
        align-items: center;
        margin:auto;
        font-size:2em;
        color:1px solid #FA8602;
        cursor: pointer;

        &:hover {
            // background-color : #FA8602;
            border-radius: 5px;
            background:#FA8602;
            color: white !important
        }
    }
    .widget-player-text {
        margin-left:auto
    }
    .widget-card-right {
        margin:auto
    }

    &:hover {
        background-color:#f8f9fa
    }
}