.feed-my-fav-players-card {

    .card-custom {

            .car-middle-div {
                width:20%;
                justify-content:center;
                text-align: center;
                align-items:center;
                justify-content:space-between;
                margin-left:5px;
                .prop-name{
                    border-bottom:1px solid rgb(221, 221, 238);
                    line-height: 17px;
                }
                p{
                    font-weight: bold;
                    text-align: center;
                    white-space:pre-wrap;
                    word-break:break-word;
                    height: 5vh;
                }

            
        }
        .card-image{
            border-radius: 50% !important;
            width:7vh !important;
            height:7vh !important;
            display: block;
            margin-right: 1rem;
        }

    }
    .card-footer {
        display: flex;

        .footer-left{
            float: left;
        }
        .footer-right{
            margin-left:auto;
            float:right;
            a{
                padding:7px;
                align-items:center;
                justify-content:center;
                margin-right:20px
            }

        }
    }
    
}

.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.widget-user .widget-user-image>img {
    border: 3px solid #fff;
    width: 70px;
    height:80px !important;
}
.player-share{
    position: absolute;
    left:60%
}
.widget-user .widget-user-image {
    left: 40%;
    position: absolute;
    top: 40px;
}
.widget-user .card-footer {
    padding-top: 20px;
}
.widget-user .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 135px;
    padding: 1rem;
}
.widget-user .widget-user-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}
.widget-user .widget-user-desc {
    margin-top: 0;
}