.feed-my-teams-card {
    transition: transform .2s; 

    .card-custom {
        ul{
            margin-left:20%;
            list-style-type: none !important;

            li{
                justify-content:center;
                align-items: center;
                padding:0.5rem;
                border:1px solid #dee2e6;
                margin:0.5rem;
                border-radius: 20px;
                transition: 0.15s ease all;

                &:hover {
                    background-color: #f8f9fa;
                }
                p{
                    margin:auto;
                }
            }
        }
    }
    .card-footer {
        .footer {
            margin:auto;
        }
    }
    .my-teams {
        margin:auto;
        width:100% !important;
    }
    .team-detail-btn{
        margin:auto;
        &:hover{
            background-color: #eeeeee !important;
        }
    }
    .team-chat-btn{
        margin:auto;

        &:hover {
            background-color: #f7a03e !important;   
        }
    }
    .MuiAvatarGroup-root{
        margin-left:30% !important;
    }

    &:hover{
        transform: scale(1.03);

    }
}