.player-detail-avatar{
    display: block;
}
.ms-5{
    padding:0.2rem;
    text-align: center;
}
// .player-detail-buttons{
//     margin-left:auto !important;
// }
.request-join{
    font-weight: bold;
}
.player-detail-handshake{
    width:20px !important;
    margin-right:10px !important;
}
.player-teams{
    width:100%;
    display:flex !important;
    overflow:initial;
    .col-3{
        min-width:27%;
        margin:1rem;
    }
}
.court-name{
    margin:auto;
}
.player-details-teams {
    height:20vh;
    margin-bottom:1rem !important;
    transition: transform .2s; 

    .card-custom {
        ul{
            margin-left:20%;
            list-style-type: none !important;

            li{
                justify-content:center;
                align-items: center;
                padding:0.5rem;
                border:1px solid #dee2e6;
                margin:0.5rem;
                border-radius: 20px;
                transition: 0.15s ease all;

                &:hover {
                    background-color: #f8f9fa;
                }
                p{
                    margin:auto;
                }
            }
        }
    }
    .card-footer {
        .footer {
            margin:auto;
        }
    }
    .my-teams {
        margin:auto;
        width:100% !important;
    }
    .team-detail-btn{
        margin:auto;
        &:hover{
            background-color: #eeeeee !important;
        }
    }
    .team-chat-btn{
        margin:auto;

        &:hover {
            background-color: #f7a03e !important;   
        }
    }
    .MuiAvatarGroup-root{
        margin-left:35% !important;
    }

    &:hover{
        transform: scale(1.03);
    }
    
}

.match-pagination{
    margin-left:30% !important;
}

.share-button{
    text-align: center !important;
    justify-content: center !important;
    margin:auto !important;
    padding:12px !important;
    font-size:11px;
}
.pd-icon{
    cursor:pointer;
        overflow: hidden !important;
        &:hover {
        border-radius: 5px;
        color:#7b79ff !important;
    }
}