.feed-my-matches-card {


    .card-custom {

        .card-avatar {
            width:20% !important;

        }
        .card-middle-text {
            width:40%;
            justify-content:space-between;
            padding:2px;

            span {

                p{
                    border-bottom:1px solid #9f9fc0;
                }
            }

            
        }
    
        .card-left-image {
            width:40%;

        }
    }
    
}