.feed-my-matches-card {


    .card-custom {

        .card-middle-text {
            padding:2px;

            .car-middle-div {
                width:30%;
                justify-content:center;
                text-align: center;
                align-items:center;
                justify-content:space-between;
                .prop-name{
                    border-bottom:1px solid rgb(221, 221, 238);
                    line-height: 17px;
                }
                p{
                    font-weight: bold;
                    text-align: center;
                    white-space:pre-wrap;
                    word-break:break-word;
                    height: 5vh;
                }
            }

            

            
        }
        .ul-team{

            list-style-type: none;
        }
        .card-left-image {
            width:45%;

            img{
                width:70% !important;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;            }

        }
    }
    .card-footer {
        display: flex;

        .footer-left{
            float: left;
        }
        .footer-right{
            margin-left:auto;
            float:right;
            a{
                padding:10px;
                align-items:center;
                justify-content:center;
                margin-right:20px;

                &:hover{
                    border-radius: 5px;
                    background-color:rgb(245, 244, 244)
                }
            }
           

        }
    }
    
}