.widget-player-text{
    a{
        &:hover{
            
            h6{
                border-bottom: 1px solid #25396f;
            }
        }
    }
}
.warning-background{
    background-color:#FA8602 !important;
    color:#fff !important;
}