.feed-my-fav-players-card {

    .card-custom {

        .card-middle-text {
            width: 70%;
            justify-content:space-between;
            padding:2px;

            .car-middle-div {
                width:20%;
                justify-content:center;
                text-align: center;
                align-items:center;
                justify-content:space-between;
                margin-left:5px;
                .prop-name{
                    border-bottom:1px solid rgb(221, 221, 238);
                    line-height: 17px;
                }
                p{
                    font-weight: bold;
                    text-align: center;
                    white-space:pre-wrap;
                    word-break:break-word;
                    height: 5vh;
                }
            }

            
        }
    
        .card-left-image {
            width:45%;

            img{
                border-radius: 50% !important;
                width:40% !important;
                height:100% !important;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

        }
    }
    .card-footer {
        display: flex;

        .footer-left{
            float: left;
        }
        .footer-right{
            margin-left:auto;
            float:right;
            a{
                padding:7px;
                align-items:center;
                justify-content:center;
                margin-right:20px
            }
            .card-footer-icon{
                font-size: 25px;
                font-weight: bold;
            }

        }
    }
    
}