.feed-training-card{
    position:relative;
    .card-title{
        background-image: linear-gradient(
    180deg
    ,rgba(185, 169, 169, 0),rgb(24, 23, 23));
    }
    
}
.tournament-dropdown{
    z-index: 99999999999 !important;
    position: absolute;
}
.footer-bg {
    border:none;
    border-radius: 40px;
    background-image: linear-gradient(
    180deg
    ,rgba(24, 23, 23, 0),rgb(24, 23, 23));

    .footer-widget{
        margin-top: 2px;
        align-items: center;
    }
}
