.layout-navbar{

    .navbar-nav .nav-link{
        padding:0 !important;
    }

    #navbarSupportedContent{

        .nav-item.dropdown{
            padding:0 !important;
            border-radius: 10px;

            span{
                right: 50px;
            }
            
            .list-height{
                height:50vh;
                overflow-y:scroll;
            }
            hr{
                margin:0;
            }
            a{
                i{
                    border-radius: 20px;
                    padding:7px 7px !important;
                    width:50px !important;
                    height:50px !important;
                    &:hover{
                        
                        background:#fff;
        
                    
                    }  
                }
            }
            
        }
        .nav-item{
            li{
                a{
                    height:12vh;

                    padding:15px 5% !important;
                    h6{
                        padding:3px;
                    }
                    p{
                        padding:2px;
                    }
                }

                svg{
                    font-size: 25px;
                }
                .notify-name{
                    margin-left:2rem;
                }
                span{
                    margin:auto !important;
                    // margin-left:1rem;
                }
            }
            .see-all{
                margin-left:15px;
            }
            .mail-drop{
                width:400px;
                overflow:auto;
                -webkit-overflow-scrolling: touch;
                
            }

            .notification-drop{
                width:400px;
                overflow:auto;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}