.layout-navbar{


    #navbarSupportedContent{
        
        .nav-item.dropdown{
            padding:0 !important;
            border-radius: 10px;
            a{
                margin:auto !important;
                text-align: center;
            }
            &:hover{
                background:#fff;

            
            }
        }
        .nav-item{
            li{
                height:12vh;

                svg{
                    font-size: 25px;
                }
                .notify-name{
                    margin-left:2rem;
                }
                span{
                    margin-left:1rem;
                }
            }
            .see-all{
                margin-left:15px;
            }
            .mail-drop{
                width:400px;
                
            }

            .notification-drop{
                width:400px;
            
            }
        }
    }
}