.tournament-slide{
    margin-top:2rem !important;
    max-height: 300px;
    vertical-align:middle;
    object-fit: cover;
    img{
        max-height: 300px;
        align-items:center;
        object-fit: cover;
    }
}
.nav-tabs {
    white-space: nowrap;
    display:block!important;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-scrollbar-thumb : inset 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .nav-tabs li {
    display: inline-block
  }
  .nav-tabs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .nav-tabs::-webkit-scrollbar {
    width: 5px;
    height:5px;
    background-color: #F5F5F5;
  }
  
  .nav-tabs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(175, 172, 172);
  }

.gift-actions {
  position: absolute;
  bottom:-15px;
  right:0px
}