.tournament-slide{
    margin-top:2rem !important;
    max-height: 300px;
    vertical-align:middle;
    object-fit: cover;
    img{
        max-height: 300px;
        align-items:center;
        object-fit: cover;
    }
}