.main-section {

    .no-gutters {
        margin-right: 0;
        margin-left: 0;
        border-radius: 5px;

        .col, .no-gutters > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;

            .contact-wrap {
                background: #fff;
            }

            .info-wrap {
                color: rgba(255, 255, 255, 0.8);
            }
            .mb-4, .my-4 {
                margin-bottom: 1.5rem !important;
            }
            .info-wrap .dbox {
                width: 100%;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 25px;
            }
        }

        .align-items-stretch {
            -webkit-box-align: stretch !important;
            -ms-flex-align: stretch !important;
            align-items: stretch !important;
        }
    }

    
}