.App {
  text-align: center;

  .main-section {
    max-width: 1150px; 
  }

  .widgets{
    border-left:1px solid #9f9fc0;
  }

}
.btn-warning{

  &:hover{
      background-color:#f5962a !important;
  }
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 190px; 
  height: 1em; 
  white-space: nowrap;
}
.fc-toolbar-title{
  font-size:1.2rem !important;
}
.widget-player-card {

  cursor : pointer;
  transition: .1s ease-out;

  .widget-player-icon {
      justify-content: center;
      align-items: center;
      margin:auto;
      font-size:2em;
      color: #FA8602;
      cursor: pointer;

      &:hover {
          // background-color : #FA8602;
          border-radius: 5px;
          background:#FA8602;
          color: white !important
      }
  }
  .widget-player-text {
      margin-left:auto
  }
  .widget-card-right {
      margin:auto
  }

  &:hover {
      background-color:#f8f9fa
  }
}
.card-footer-icon{
  cursor:pointer;
      overflow: hidden !important;
      &:hover {
      border-radius: 5px;
      color:#7b79ff !important;
  }
}
.text-warning{
  color:#FA8602 !important;
}