.App {
  text-align: center;
  .main-section {
    max-width: 1150px; 

  }

  .widgets{
    border-left:1px solid #9f9fc0;
  }

}
.btn-warning{

  &:hover{
      background-color:#f5962a !important;
  }
}

.recommended-card:hover, .card-shadow:hover{
  box-shadow: rgba(110, 122, 131, 0.3) 0px 1px 2px 0px, rgba(53, 60, 63, 0.15) 0px 2px 6px 2px;
  transform: translateY(-3px);
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 190px; 
  height: 1em; 
  white-space: nowrap;
}

.fixed-actions {
  position: absolute;
  bottom:-15px;
  right:0px
}
.fc-toolbar-title{
  font-size:1.2rem !important;
}
.widget-player-card {

  cursor : pointer;
  transition: .1s ease-out;

  .widget-player-icon {
      justify-content: center;
      align-items: center;
      margin:auto;
      font-size:2em;
      color: #FA8602;
      cursor: pointer;

      &:hover {
          // background-color : #FA8602;
          border-radius: 5px;
          background:#FA8602;
          color: white !important
      }
  }
  .widget-player-text {
      margin-left:auto
  }
  .widget-card-right {
      margin:auto
  }

  &:hover {
      background-color:#f8f9fa
  }
}
.card-footer-icon{
  cursor:pointer;
      overflow: hidden !important;
      &:hover {
      border-radius: 5px;
      color:#7b79ff !important;
  }
}
.text-warning{
  color:#FA8602 !important;
}

::-webkit-scrollbar{
  width: 2px
}

::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
}







// DARK THEME CSS
// body, .sidebar-wrapper{
//   background-color: #13254d;
//   h6, h5, h4, h3, .burger-btn{
//     color:#fff;
//   }
// }
// .sidebar-item{
//   a{
//     color: #fff !important;
//     &:hover{
//       color:#15202B !important;
//     }
//   }
  
// }

// .match-card-up{

//   .match-card-date, span{
//     color:#fff;
//   }
// }
// .feed-my-matches-card{
//   color:#fff;
//   h6{
//     color:#fff;
//   }
//   .match-team-li>a{
//     color:#fff;
//   }
// }
// .feed-card{
  
//   .card{
//     background-color: #2b3957;
//     .card-title, h4{
//       color:#fff;
//     }
//     .card-custom{
//       *{
//         color:#fff;
//       }
//     }
//     .card-footer{
//       background-color: #2b3957;
//     }
//   }
// }

// .players-widget, .matches-widget, .courts-widget, .team-messages{
//   background-color: #0b1427;
//   *{
//     color:#fff;
    
//   }
// }
// .widget-player-card{
//   background-color: #2b3957;
//   &:hover{
//   background-color: #2b3957;

//   }
// }
// .widget-user{
//       background-color: #2b3957;
// }
// .card-footer{
//   background-color: #2b3957;

// }