.App {
  text-align: center;

  .main-section {
    max-width: 1150px; 
  }

  .widgets{
    border-left:1px solid #9f9fc0;
  }

}
.btn-warning{

  &:hover{
      background-color:#f5962a !important;
  }
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 190px; 
  height: 1em; 
  white-space: nowrap;
}
