
#sidebar {

    .submenu-item {
        display:flex;


        .sidebar-icon {
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size:22px
        }
    }
    .sidebar-badges {
        a{
            padding:0.3rem;
            border-radius: 5px;
        }
        .sidebar-badge {
            color: #25396f;
        }
        
    }
    a.active {
        background-color: #FA8602 !important;
        color: #fff;
        .svg{
            color:#fff;
        }
        .sidebar-badge{
            color: #fff;
        }
    }
}

