
#sidebar {

    .submenu-item {
        display:flex;


        .sidebar-icon {
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size:22px
        }
    }
    .sidebar-badges {
        a{
            padding:0.3rem;
            border-radius: 5px;
        }
        .sidebar-badge {
            color: #25396f;
        }
        
    }
    a.active {
        background-color: #FA8602 !important;
        color: #fff;
        .svg{
            color:#fff;
        }
        .sidebar-badge{
            color: #fff;
        }
    }
    .sidebar-item .badge.bg-warning{
        margin-left:auto;

    }
    .sidebar-link.active{
        .badge.bg-warning{
            border:1px solid #fff;
        }
    }
}

.logo {
    width: 20px;
}

.logo img {
    width: 70%;
    
}

.lang-menu {
    width: 50px;
    text-align: right;
    font-weight: bold;
    position: relative;
    margin-left: 5rem;
    margin-top:20px;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
    font-size: 15px;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top:2px;
    background-image: url(https://www.countryflags.io/tr/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    z-index: 99999;
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex !important;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 50px;
    padding: 5px;
    display: block;
    font-size:12px;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size:15px !important;
}
.tr:before {
    background-image: url(https://www.countryflags.io/tr/flat/32.png);
}
.de:before {
    background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
}
.es:before {
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.ar:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}


.lang-menu:hover ul {
    display: block;
}