
#sidebar {

    .submenu-item {
        display:flex;


        .sidebar-icon {
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size:22px
        }
    }
    .sidebar-badges {

        .sidebar-badge {
            color: #25396f;
        }
        
    }
    a.active {
        background-color: #FA8602 !important;
        color: #fff;
        .svg{
            color:#fff;
        }
    }
}

