.create-match-player-list{
    margin-left:20% !important;
}
.court-list{
    height:60vh !important;
    overflow-y: scroll;
    
}
.list-select{
    height:50vh !important;
    overflow-y: scroll;

}
.player-list {
    height:53vh
}