.footer-bg {
    border:none;
    border-radius: 40px;
    background-image: linear-gradient(
    180deg
    ,rgba(24, 23, 23, 0),rgb(24, 23, 23));

    .footer-widget{
        margin-top: 2px;
        align-items: center;
    }
}
